alembic==1.7.6
anyio==3.5.0
APScheduler==3.9.1
asgiref==3.5.0
bidict==0.22.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
cryptography==36.0.2
ecdsa==0.17.0
fastapi==0.74.0
fastapi-utils==0.2.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httptools==0.3.0
idna==3.3
Jinja2==3.1.1
Mako==1.1.6
MarkupSafe==2.1.0
psycopg2==2.9.3
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
python-dotenv==0.19.2
python-engineio==4.3.1
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
requests==2.27.1
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.17.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
uvicorn==0.17.5
watchgod==0.7
websockets==10.1
